@import url('https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css');
@import url('/css/hover.css');
@import url('/css/games.css');

* {
    font-family: 'Lato', sans-serif;
    user-select: none;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #0008fa, #9400d3);
    background-size: 300% 100%;
    animation: gradientAnimation 6s linear infinite;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text);
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.hidden {
    display: none;
}

i {
    margin: 10px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

h1 {
    text-align: center;
}

input {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--input-bg);
    color: var(--text);
    transition: width 0.4s ease;
    margin: auto;
    margin-top: 20px;
}

input:hover {
    width: 350px;
}

button:hover {
    opacity: 0.8;
}

input:checked + .slider {
    background-color: var(--switch-active);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--switch-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

